body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    max-width: fit-content;
    padding:  6px 20px;
    border: 1px solid #3882F6;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
}

button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    border: 1px solid #F9FAF8;
    cursor: pointer; 
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    margin: 0;
    padding: 15px;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 14% 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-links {
    display: flex;
}

.nav-item {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main-text-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px 15%;
    margin: 0 auto 1rem;
}

.main-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 0;
    padding-right: 10px;
}

.main-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 20px;
}

.main-text-image {
    height: auto;
    width: 50%;
}

.second-section{
    text-align: center;
   
}

.second-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 30px 0;
}

.second-section-figure {
    display: flex;
    margin: 0 20% 60px;
}

.second-section-figure figure {
    margin: 0;
    transition: all 200ms ease-in-out;
}

.second-section-figure figure:hover {
    scale: 1.5;
    cursor: pointer;
}

.second-section-figure img {
    width: 60%;
    border-radius: 10px;
}

.third-section {
    background-color: #E5E7EB;
    padding: 30px 20%;
    text-align: justify;
}

.third-section blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.third-section p {
    text-align: end;
    font-weight: bold;
}

.sign-up-box {
    background-color: #3882F6;
    max-width: 700px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 5px;
    color: #F9FAF8;
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
}

.sign-up-box button {
    border: 1px solid #F9FAF8;
}

.sign-up-text {
    padding-right: 10px;
}

.menu-cover{
    background-image: url("MenuPic.jpg");
    display: flex;
    flex-shrink: 2;
    margin: 0;
}

.menu-list {
    font-size: 40px;
    color: #F9FAF8;
    list-style-type: none;
    text-align: center;
}

.menu-list a {
    text-decoration: none;
    color: #F9FAF8;
    margin: 10px 0;
}

.menu-items h4 {
    text-align: center;
    font-size: 28px;
    color: #1F2937;
}

.flex-container {
    display: flex;
    width: 100px;
    margin: 10px;
    flex-shrink: 2;
}

